body {
  margin: 0;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: 'Noto Sans JP', sans-serif, 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  transition:all 1s ease;
  overflow: hidden;
  height: 100%;
}
/* nav{
  line-height:58px !important;
} */


@media screen and (max-width:520px){
  body{
    font-size:15px;
    cursor: default !important;
  }
  .MuiTypography-h5{
    font-size: 17px !important;
    font-weight: 500 !important;
    font-family: 'Noto Sans JP', sans-serif !important;
  }
  .MuiCard-root{
    margin:0 auto !important;
  }
  /* .MuiCardHeader-root{
    padding:10px !important;
  } */
  .MuiCardHeader-subheader{
    margin:0.2rem !important;
    font-size: 100% !important;
  }
  .brand-logo{
    font-size: 2rem !important;
  }
  .container{
    margin: 0 !important;
    width: 100% !important;
  }
  .MuiPaper-outlined{
    border-left: 0 !important;
    border-right: 0 !important;
  }
  .mycontainer{
    margin: 0 auto;
    width:90%;
  }

  .parallax-wrapper::before{
    content: "";
    width: 100%; height:150%;
    top: 0; left: 0; bottom: 0; right: 0;
    display: block;
    transform-origin: center center 0;
    background-image: url(../components/TopPage/assets/syuukatu4-min.jpg) !important; 
    background-color:#666;
    background-blend-mode:overlay;
    background-size:cover;
    position: absolute;
    z-index: -1;
    border: 3px solid blue;
    transform: translateZ(-0.15px) scale(1.3);
  }

  /* calendar-wrapper{
    height:30rem;
  } */

}
  


.w3{
  font-weight: 300;
}
.w4{
  font-weight: 400;
}
.w5{
  font-weight: 500;
}

.navi{
  font-family: 'Monofett', cursive;
}


/* MuiButtonBase-root 

 makeStyles-expand-2 */
.MuiIconButton-root{
  width:20%;
}

.MuiIconButton-root:hover{
  background-color: white !important;
}

.MuiCardActions-root{
  padding:0px !important;
  /* margin-left: 7% !important; */
}
.MuiIconButton-root{
  padding:18px !important;
}
.MuiTypography-h5{
  font-family: 'Noto Sans JP', sans-serif !important;
}

.truncate{
  display: inline-block !important;
}

.MuiCardContent-root{
  padding-bottom: 9px !important;
}

.bigcontainer{
  width:90%;
  margin: 0 auto;
}
.MuiCardHeader-subheader{
  margin:0.2rem !important;
  font-size: 110% !important;
}



/* for top page parallax */

.parallax-wrapper{
  box-sizing: border-box;
  margin:0;
  transform-style: preserve-3d;
  position: relative;
}

.parallax-wrapper::before{
  content: "";
  width: 100%; height:150%;
  top: 0; left: 0; bottom: 0; right: 0;
  display: block;
  transform-origin: center center 0;
  background-image: url(../components/TopPage/assets/syukatu2.jpeg);
  background-color:#666;
  background-blend-mode:overlay;
  background-size:cover;
  position: absolute;
  z-index: -1;
  border: 3px solid blue;
  transform: translateZ(-0.15px) scale(1.3) ;
}

.regular-wrapper{
  /* padding-top:20px; */
  z-index: 2;
  position: relative;
  background: #efebe9;
}
