body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif, 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  transition:all 1s ease;
}

.w3{
  font-weight: 300;
}
.w4{
  font-weight: 400;
}
.w5{
  font-weight: 500;
}

.navi{
  font-family: 'Monofett', cursive;
}